* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 10px;
}
body,
html {
  font-family: Roboto, sans-serif;
}
body {
  background: url("../images/restaurant.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

p {
  font-size: clamp(1.6rem, 2vw + 1rem, 1.25rem);
}

header {
  background: #000;
  height: 5rem;
  justify-content: center;
  position: sticky;
  top: 0;
  width: 100%;
}
header,
nav {
  display: flex;
}
nav {
  gap: 2rem;
}
.Button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  padding: 0.4rem;
  transition: transform 0.3s;
}
.Button--link {
  color: #fff;
  font-size: clamp(1.6rem, 2vw + 1rem, 1.25rem);
}

.Button--active {
  border-bottom: 0.3rem solid white;
}

.Button:hover {
  transform: translateY(-10%);
}
